# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Iterating over arrays/Boxes/out/
/Topics/Iterating over arrays/Boxes/out/production/classes/
/Topics/Iterating over arrays/Count how many times a number occurs/out/
/Topics/Iterating over arrays/Count how many times a number occurs/out/production/classes/
/Topics/Iterating over arrays/Cyclically shifting elements/out/
/Topics/Iterating over arrays/Cyclically shifting elements/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Iterating over arrays/The sum of array elements/out/
/Topics/Iterating over arrays/The sum of array elements/out/production/classes/
/Topics/Multidimensional array/Fill the matrix by numbers/out/
/Topics/Multidimensional array/Fill the matrix by numbers/out/production/classes/
/Topics/Multidimensional array/Symmetric matrix/out/
/Topics/Multidimensional array/Symmetric matrix/out/production/classes/
/Topics/The for-loop/Maximum element divisible by four/out/
/Topics/The for-loop/Maximum element divisible by four/out/production/classes/
/Topics/The while and do-while loops/Profit/out/
/Topics/The while and do-while loops/Profit/out/production/classes/
/Topics/The while and do-while loops/The smallest value/out/
/Topics/The while and do-while loops/The smallest value/out/production/classes/